body {
  background: linear-gradient(135deg, #130927 0%, #49309e 55%, #00132c 100%);
  min-height: 100vh;
  color: #f3f3f3;
  font-family: 'Jost', 'Montserrat', sans-serif;
  margin: 0;
  animation: fadeIn 1.2s ease-in;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(16, 9, 40, 0.97);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 6vw 8px 3vw;
  border-bottom: 1.5px solid rgba(255,255,255,0.12);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo-picture {
  height: 75px;
  width: 150px;

}
.site-name {
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffe9fa;
  text-shadow: 0 2px 9px #21215e88;
}
.right-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.lang-switch {
  font-size: 1rem;
  color: #d1c1e8;
  padding: 6px 12px;
  border: 1.5px solid #fff2;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s, color 0.2s, border-color 0.2s;
}
.main-nav {
  display: flex;
  gap: 2.4rem;
  margin-left: auto;
}
.nav-link {
  color: #ffe7f5;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
  
  transition: color 0.18s;
}
.nav-link:hover, .nav-link.active {
  color: #ff4577;
  border-bottom: 3px solid #ff4577;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 12px 4vw 8px 3vw;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .logo {
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo-picture {
    height: 60px;
    width: 120px;
  }
  
  .site-name {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  
  .right-menu {
    width: 100%;
    justify-content: space-between;
    gap: 8px;
    padding: 10px 10px;
  }
  
  .main-nav {
  justify-content: center;
  gap: 2rem;
  flex: 1;
  display: flex; 
}

  .nav-link {
    font-size: 0.95rem;
    padding-bottom: 3px;
  }
  
}


/* MAIN PAGE */
.main-page-title {
  font-size: 3.3rem;
  letter-spacing: 1.5px;
  margin: 2vw 0 1.7vw 0;
  text-align: center;
  font-weight: 900;
  color: #ffe9fa;
  text-shadow: 0 2px 22px #2c234b88;
}

.page-section {
 display: none; 
 flex-direction: column;
 align-items: center;
 justify-content: flex-start; 
 min-height: calc(100vh - 150px);
 padding: 52px 5vw; 
 gap: 2.5rem;
 opacity: 0; 
 transition: opacity 0.7s;
}

.page-section.active {
 display: flex; 
}

.page-section.active { opacity: 1; }

.content {
  background: rgba(44,32,70,0.77);
  box-shadow: 0 8px 32px 0 rgba(46,21,63,0.25);
  border-radius: 22px;
  padding: 35px 34px;
  margin-bottom: 2.8rem;
  max-width: 740px;
  width: 100%;
  text-align: center;
  border: 1.5px solid #fff2;
  position: relative;
  transition: box-shadow 0.2s, border 0.2s;
}

.content:hover {
  box-shadow: 0 16px 58px 0 rgba(46,21,63,0.36);
  border: 1.5px solid #ff4577cc;
}



.section-text {
  color: #ebdefb;
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 0.8rem;
}

/* DictionarySECTION */
.dictionary-content {
  text-align:left;
  margin:0;
  padding:0;
}

.dictionary-intro-text{
  max-width: 1100px;
  margin: 0 auto 32px auto;
  font-size: 25px;
  line-height: 1.4;
  color: #ebdefb; 
  text-align: center;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
}

.line_between {
    height: 0.1875rem;
    background: linear-gradient(90deg, #fff080, #ff4577 70%);
    margin: 3.125rem 0; 
}
.alphabet-search {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.alpha-btn {
  font-size: 1.1rem;
  background: transparent;
  border: 2px solid #d1c1e8;
  color: #d1c1e8;
  border-radius: 50px;
  padding: 7px 18px;
  cursor: pointer;
  transition: 
    border 0.19s, 
    color 0.19s, 
    transform 0.19s;
}
.alpha-btn:hover, .alpha-btn.active {
  border: 2px solid;
  background: linear-gradient(90deg, #ff4577, #aa35ff 80%);
  transform: scale(1.12);
}

.study-container{
  background: linear-gradient(135deg, #221146 0%, #49309e 55%, #00132c 100%);
  box-shadow: 0 8px 32px 0 rgba(21, 9, 29, 0.25);
  border-radius: 22px;
  padding: 35px 34px;
  margin-bottom: 2.8rem;
  max-width: 1400px;
  width: 100%;
  text-align:start;
  border: 1.5px solid #fff2;
  position: relative;
  transition: box-shadow 0.2s, border 0.2s;
}
.alphabet{
  text-align: start;
  color: #ffe9fa;
  margin-bottom: 20px;
  margin-left: 25px;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1.3px;
  font-family: 'Montserrat', sans-serif;
}
.terms{
  background: rgba(44,32,70,0.77);
  box-shadow: 0 8px 32px 0 rgba(46,21,63,0.25);
  border-radius: 22px;
  padding: 35px 34px;
  margin-bottom: 2.8rem;
  max-width:1300px;
  width: 100%;
  text-align: start;
  border: 1.5px solid #fff2;
  position: relative;
  transition: box-shadow 0.2s, border 0.2s;
}
.terms:hover {
  box-shadow: 0 16px 58px 0 rgba(46,21,63,0.36);
  border: 1.5px solid #ff4577cc;
}
.terms-text{
  color: #ffe9fa;
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 400;
  padding-right: 100px;
  letter-spacing: 1.3px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
  gap: 8rem;
}

.previous, .next {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15rem;
  padding: 10px 35px;
  background: linear-gradient(90deg, #ff4577, #aa35ff 80%);
  color: #fff;
  border: none;
  margin: 40px 40px;
  border-radius: 15px;
  font-weight: 600;
  box-shadow: 0 3px 15px #b73eca63;
  transition: background 0.2s, transform 0.18s;
  cursor: pointer;
  margin-top: 18px; 
}
.next:hover {
  background: linear-gradient(90deg, #fff080, #ff4577 70%);
  color: #291951;
  transform: scale(1.03);

}
.previous:hover {
  background: linear-gradient(90deg, #fff080, #ff4577 70%);
  color: #291951;
  transform: scale(1.03);
  
}
/* Dictionary adaptation */
@media screen and (max-width: 1280px) {
  .dictionary-intro-text {
    font-size: 17px;
    padding: 0 8px;
    margin-bottom: 15px;
  }
  .line_between {
    margin: 1.5rem 0;
  }
  .alphabet-search {
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    font-size: 1rem;
  }
  .study-container{
    max-width: 1000px;
    padding-left:15px;
    padding-right: 27px;
  }
  .terms {
    padding: 12px 6px;
    max-width: 99vw;
    margin-bottom: 1.4rem;
    border-radius: 14px;
  }
  .alphabet {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .terms-text {
    font-size: 15px;
    padding-right: 0;
    padding-left: 10px;
  }
  .alpha-btn {
    padding: 3px 7px;
    font-size: 0.7rem;
    border-radius: 24px;
  }
}
@media screen and (max-width: 853px) {
  .dictionary-intro-text {
    font-size: 17px;
    padding: 0 8px;
    margin-bottom: 15px;
  }
  .line_between {
    margin: 1.5rem 0;
  }
  .alphabet-search {
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    font-size: 1rem;
  }
  .study-container{
    max-width: 600px;
    padding-left:10px;
    padding-right: 22px;
  }
  .terms {
    padding: 12px 6px;
    max-width: 99vw;
    margin-bottom: 1.4rem;
    border-radius: 14px;
  }
  .alphabet {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .terms-text {
    font-size: 15px;
    padding-right: 0;
    padding-left: 10px;
  }
    .buttons-container {
    justify-content: center;
    gap: 20px;
  }

  .previous,
  .next {
    font-size: 1rem;
    padding: 10px 28px;
  }

  .alpha-btn {
    padding: 3px 7px;
    font-size: 0.8rem;
    border-radius: 24px;
  }
}
/* Saved-terms */


/* CTA BUTTON */
.cta-btn {
  font-family: inherit;
  font-size: 1.22rem;
  padding: 10px 35px;
  background: linear-gradient(90deg, #ff4577, #aa35ff 80%);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 14px;
  font-weight: 700;
  box-shadow: 0 3px 15px #b73eca63;
  transition: background 0.2s, transform 0.18s;
  cursor: pointer;
  margin-top: 20px; /* Додайте цей рядок */
  display: inline-block;
}
.cta-btn:hover {
  background: linear-gradient(90deg, #fff080, #ff4577 70%);
  color: #291951;
  transform: scale(1.03);
}
.wrap{
  text-align: center;
  margin-top: 60px;
}

/* Адаптивність */
@media (max-width: 650px) {
  .main-page-title { font-size: 2rem; }
  .content  { padding: 18px 10px; }
  .site-name { font-size: 1.2rem; }
  .header { padding: 12px 3vw 6px 2vw;}
}

.footer {
  width: 100%;
  padding: 22px 0;
  background: rgba(16, 9, 40, 0.97);
  color: #e3defa;
  text-align: center;
  font-size: 1.13rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  border-top: 1.5px solid rgba(255,255,255,0.10);
  box-shadow: 0 -2px 24px 0 #29195144;
  margin-top: 36px;
}

.footer p {
  margin: 0;
  font-weight: 500;
  text-shadow: 0 2px 7px #12095069;
}


.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 25px;
  padding-top: 10px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 33%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-links a:hover {
  transform: translateY(-3px);
}

.social-links a.facebook {
  background: rgba(24, 119, 242, 0.2);
  color: #1877f2;
}

.social-links a.facebook:hover {
  background: #1877f2;
  color: #fff;
}

.social-links a.instagram {
  background: rgba(225, 48, 108, 0.2);
  color: #e1306c;
}

.social-links a.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: #fff;
}

.social-links a.linkedin {
  background: rgba(0, 119, 181, 0.2);
  color: #0077b5;
}

.social-links a.linkedin:hover {
  background: #0077b5;
  color: #fff;
}

.social-links a.telegram {
  background: rgba(0, 136, 204, 0.2);
  color: #0088cc;
}

.social-links a.telegram:hover {
  background: #0088cc;
  color: #fff;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-links a {
  color: #7c8aff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  padding-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-bottom p {
  margin: 0;
}
.line-between {
    height: 0.1rem;
    background: linear-gradient(90deg, #fff080, #ff4577 70%);
    margin-bottom: 30px;
}
/* Адаптивність для мобільних */
@media (max-width: 480px) {
  .social-links {
    gap: 15px;
  }

  .social-links a {
    width: 40px;
    height: 40px;
  }

  .social-links svg {
    width: 20px;
    height: 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}